node-red/flows.json
[
  {
    "id": "tab_main",
    "type": "tab",
    "label": "Batch Reactor – Edge AI",
    "disabled": false,
    "info": "Main data flow: MQTT → Parse → Dashboard + Anomaly display"
  },
  {
    "id": "tab_alerts",
    "type": "tab",
    "label": "Alert Handler",
    "disabled": false,
    "info": "Handles anomaly alert messages from the Edge AI processor"
  },

  {
    "id": "mqtt_in_data",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Sensor Data",
    "topic": "sensors/group23/batch-reactor/data",
    "qos": "1",
    "datatype": "json",
    "broker": "broker_config",
    "x": 120,
    "y": 80,
    "wires": [["parse_reading"]]
  },
  {
    "id": "parse_reading",
    "type": "function",
    "z": "tab_main",
    "name": "Parse & Route",
    "func": "var d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\nreturn [\n  { payload: d.temperature_c },\n  { payload: d.power_kw },\n  { payload: d.pressure_bar },\n  { payload: d.temperature_c },\n  { payload: d.batch_id },\n  { payload: d.cycle_phase },\n  { payload: d.energy_kwh },\n  { payload: d.flow_rate_lpm }\n];",
    "outputs": 8,
    "x": 320,
    "y": 80,
    "wires": [
      ["chart_temperature"],
      ["chart_power"],
      ["gauge_pressure"],
      ["gauge_temp"],
      ["text_batch"],
      ["text_phase"],
      ["text_energy"],
      ["text_flow"]
    ]
  },

  {
    "id": "chart_temperature",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Temperature Over Time",
    "group": "grp_sensors",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Reactor Temperature (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for data…",
    "dot": false,
    "ymin": "0",
    "ymax": "150",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff6b35","#004e89","#1a936f"],
    "x": 600,
    "y": 40,
    "wires": [],
    "func": "msg.payload = msg.temperature; return msg;"
  },
  {
    "id": "set_temp_val",
    "type": "change",
    "z": "tab_main",
    "name": "Set Temperature",
    "rules": [{"t": "set","p": "payload","pt": "msg","to": "temperature","tot": "msg"}],
    "x": 480,
    "y": 40,
    "wires": [["chart_temperature"]]
  },

  {
    "id": "chart_power",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Power Draw / Energy",
    "group": "grp_sensors",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "Power Draw (kW)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for data…",
    "dot": false,
    "ymin": "0",
    "ymax": "90",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#3a86ff","#004e89","#1a936f"],
    "x": 600,
    "y": 120,
    "wires": [],
    "func": "msg.payload = msg.power; return msg;"
  },

  {
    "id": "gauge_pressure",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Pressure",
    "group": "grp_sensors",
    "order": 3,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Pressure (bar)",
    "label": "bar",
    "format": "{{value}}",
    "min": "0",
    "max": "12",
    "colors": ["#1a936f","#f4a261","#e63946"],
    "seg1": "4",
    "seg2": "6",
    "x": 600,
    "y": 200,
    "wires": [],
    "func": "msg.payload = msg.pressure; return msg;"
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Temperature Gauge",
    "group": "grp_sensors",
    "order": 4,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "150",
    "colors": ["#1a936f","#f4a261","#e63946"],
    "seg1": "70",
    "seg2": "95",
    "x": 600,
    "y": 280,
    "wires": [],
    "func": "msg.payload = msg.temperature; return msg;"
  },
  {
    "id": "text_batch",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_status",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Batch ID",
    "label": "Current Batch",
    "format": "#{{msg.payload}}",
    "layout": "row-spread",
    "x": 600,
    "y": 360,
    "wires": [],
    "func": "msg.payload = msg.batch_id; return msg;"
  },
  {
    "id": "text_phase",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_status",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Phase",
    "label": "Cycle Phase",
    "format": "{{msg.payload | uppercase}}",
    "layout": "row-spread",
    "x": 600,
    "y": 400,
    "wires": [],
    "func": "msg.payload = msg.phase; return msg;"
  },
  {
    "id": "text_energy",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_status",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "Energy",
    "label": "Batch Energy (kWh)",
    "format": "{{msg.payload}} kWh",
    "layout": "row-spread",
    "x": 600,
    "y": 440,
    "wires": [],
    "func": "msg.payload = msg.energy; return msg;"
  },
  {
    "id": "text_flow",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_status",
    "order": 4,
    "width": 6,
    "height": 1,
    "name": "Flow Rate",
    "label": "Flow Rate (L/min)",
    "format": "{{msg.payload}} L/min",
    "layout": "row-spread",
    "x": 600,
    "y": 480,
    "wires": [],
    "func": "msg.payload = msg.flow; return msg;"
  },

  {
    "id": "mqtt_in_alerts",
    "type": "mqtt in",
    "z": "tab_alerts",
    "name": "Anomaly Alerts",
    "topic": "alerts/group23/batch-reactor/status",
    "qos": "1",
    "datatype": "json",
    "broker": "broker_config",
    "x": 120,
    "y": 80,
    "wires": [["format_alert"]]
  },
  {
    "id": "format_alert",
    "type": "function",
    "z": "tab_alerts",
    "name": "Format Alert",
    "func": "var a = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\nvar isCrit = a.anomaly_type === 'CRITICAL';\nvar c = isCrit ? '#ff4757' : '#ffa502';\nvar html = '<div style=\"background:#fff;border-left:6px solid ' + c + ';border-radius:8px;padding:15px;color:#333;box-shadow:0 4px 15px rgba(0,0,0,0.1);font-family:Segoe UI,sans-serif;\"><div style=\"display:flex;justify-content:space-between;align-items:center;margin-bottom:8px;\"><h3 style=\"margin:0;color:' + c + ';font-weight:bold;\">' + (isCrit ? '🚨' : '⚠️') + ' ' + a.anomaly_type + ' ALERT</h3><span style=\"background:#f0f0f0;padding:4px 10px;border-radius:20px;font-size:12px;color:#666;\">Batch #' + a.batch_id + '</span></div><p style=\"margin:0 0 10px 0;font-size:14px;color:#555;\"><strong>Reason:</strong> ' + a.rule_reason + ' <em>(ML Score: ' + a.ml_score + ')</em></p><div style=\"display:flex;gap:15px;font-size:13px;color:#444;background:#f8f9fa;padding:8px;border-radius:4px;\"><span>⚡ Energy: <b>' + a.batch_energy + ' kWh</b></span><span>🌡️ Temp: <b>' + a.temperature + '°C</b></span><span>⏱️ Phase: <b>' + a.cycle_phase + '</b></span></div></div>';\nreturn [\n  { payload: html },\n  { payload: a.severity },\n  { payload: a.severity }\n];",
    "outputs": 3,
    "x": 320,
    "y": 80,
    "wires": [
      ["alert_text"],
      ["alert_gauge"],
      ["alert_chart"]
    ]
  },
  {
    "id": "alert_text",
    "type": "ui_template",
    "z": "tab_alerts",
    "group": "grp_alerts",
    "order": 1,
    "width": 12,
    "height": 4,
    "name": "Alert Card",
    "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 560,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "alert_gauge",
    "type": "ui_gauge",
    "z": "tab_alerts",
    "name": "Severity",
    "group": "grp_alerts",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Alert Severity",
    "label": "",
    "format": "{{value}}",
    "min": "0",
    "max": "2",
    "colors": ["#1a936f","#f4a261","#e63946"],
    "seg1": "0.5",
    "seg2": "1.5",
    "x": 560,
    "y": 140,
    "wires": [],
    "func": "msg.payload = msg.severity; return msg;"
  },
  {
    "id": "alert_chart",
    "type": "ui_chart",
    "z": "tab_alerts",
    "name": "Alert History",
    "group": "grp_alerts",
    "order": 3,
    "width": 8,
    "height": 4,
    "label": "Alert Severity History",
    "chartType": "bar",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "No alerts yet",
    "dot": true,
    "ymin": "0",
    "ymax": "2",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "colors": ["#e63946"],
    "x": 560,
    "y": 220,
    "wires": [],
    "func": "msg.payload = msg.severity; return msg;"
  },


  {
    "id": "mqtt_in_stats",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Batch Stats",
    "topic": "sensors/group23/batch-reactor/stats",
    "qos": "1",
    "datatype": "json",
    "broker": "broker_config",
    "x": 120,
    "y": 540,
    "wires": [["parse_stats"]]
  },
  {
    "id": "parse_stats",
    "type": "function",
    "z": "tab_main",
    "name": "Parse Stats",
    "func": "var d = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\nreturn [\n  { payload: d.total_energy, topic: 'Batch Energy' },\n  { payload: d }\n];",
    "outputs": 2,
    "x": 260,
    "y": 540,
    "wires": [["stats_chart"], ["stats_text"]]
  },
  {
    "id": "stats_chart",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Batch Energy History",
    "group": "grp_stats",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "Energy per Batch (kWh)",
    "chartType": "line",
    "legend": "false",
    "xformat": "auto",
    "interpolate": "linear",
    "nodata": "Waiting…",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "20",
    "removeOlderUnit": "3600",
    "colors": ["#3a86ff","#e63946"],
    "x": 380,
    "y": 520,
    "wires": [],
    "func": "msg.payload = msg.payload.total_energy; return msg;"
  },
  {
    "id": "stats_text",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_stats",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "Batch Status",
    "label": "Last Batch Status",
    "format": "Batch #{{msg.payload.batch_id}}: {{msg.payload.status}} | {{msg.payload.total_energy}} kWh",
    "layout": "row-spread",
    "x": 380,
    "y": 580,
    "wires": []
  },

  {
    "id": "broker_config",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered-batch-reactor",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },

  {
    "id": "grp_sensors",
    "type": "ui_group",
    "name": "Live Sensor Data",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_status",
    "type": "ui_group",
    "name": "Batch Status",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_stats",
    "type": "ui_group",
    "name": "Batch Energy Statistics",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_alerts",
    "type": "ui_group",
    "name": "Anomaly Alerts",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "🏭 Reactor Monitor",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_alerts",
    "type": "ui_tab",
    "name": "🚨 Alerts",
    "icon": "warning",
    "order": 2,
    "disabled": false,
    "hidden": false
  }
]
